<br>
<div class="container">
<h2>About Us</h2>

<p>Recommendations for good and top anime to watch - rankings, previews, reviews and more!</p>

<img src="http://www.pixelstalk.net/wp-content/uploads/2016/01/Cool-Anime-Background.jpg" width="1110px">
<br>
<br>
<br>
</div>