<br>
<div class="container">

<br>
	<table class="atw-home-page-row1">
		<tr>
			<td>
				<a href="/news">
					<img src="https://cultfaction.files.wordpress.com/2016/08/drifters7-e1470753311315.jpg?w=1038&h=490&crop=1" class="img-fluid" alt="Responsive image">
				</a>
			</td>
		</tr>
	</table>

	<table class="atw-home-page-row2">
		<tr>
			<td>
				<a href="/news">
					<img src="http://genk23.genkcdn.vn/thumb_w/690/DlBlzccccccccccccE5CT3hqq3xN9o/Image/2014/01/anh-noi-bat-859b9.jpg" class="img-fluid" alt="Responsive image">
				</a>
			</td>
			<td>
				<a href="/featured_articles">
					<img src="http://images6.fanpop.com/image/answers/574000/574972_1440840273759_346_300.jpg" class="img-fluid" alt="Responsive image">
				</a>
			</td>
		</tr>
	</table>

	<table class="atw-home-page-row3">
		<tr>
			<td>
				<a href="/promo_videos">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLXKZ_rqKryaXagz_zUf4sdHYj3IGEWrHk" allowfullscreen></iframe>
				</a>
			</td>
			<td>
				<a href="/top_50_of_2016">
					<img src="http://s3.narvii.com/image/6q6qdnm7p6efa6rnkdsqmzzrwqc73bwy_hq.jpg" class="img-fluid" alt="Responsive image" >
				</a>
			</td>
		</tr>
	</table>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FIND YOUR NEXT ANIME TO WATCH!</h1>
    <p class="lead">Latest rankings, previews, recommendations, and more!</p>
    <p class="lead">
    <a class="btn btn-primary btn-md" href="/top_10_currently_airing" role="button">Go To Rankings Page ></a>
  </p>
  </div>
</div>