<br>
<div class="container">
<h2>News</h2>

<p>Check out the latest news inside the anime industry!</p>
</div>
<div class="container">

<body>
<img src="https://s-media-cache-ak0.pinimg.com/originals/a1/60/e8/a160e87c9ba149d944402948d5aa44e5.jpg" class="img-fluid" alt="Responsive image" width="100% \9">
</body>
</div>