<br>
<div class="container">
<h2>Top 10 Anime Series Currently Airing</h2>
<p>Fall 2016</p>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Rank</th>
      <th>Title</th>
      <th>Score</th>
    </tr>
  </thead>

    <tr>
      <th scope="row">1</th>
      <td>Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou</td>
      <td>9.04</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Natsume Yuujinchou Go</td>
      <td>8.83</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gintama°: Aizome Kaori-hen</td>
      <td>8.82</td>
    </tr>
    <th scope="row">4</th>
      <td>One Piece</td>
      <td>8.58</td>
    </tr>
    <th scope="row">5</th>
      <td>JoJo no Kimyou na Bouken: Diamond wa Kudakenai</td>
      <td>8.56</td>
    </tr>
    <th scope="row">6</th>
      <td>Yuri!!! on Ice</td>
      <td>8.47</td>
    </tr>
    <th scope="row">7</th>
      <td>Mobile Suit Gundam: The Origin</td>
      <td>8.41</td>
    </tr>
    <th scope="row">8</th>
      <td>Bungou Stray Dogs 2nd Season</td>
      <td>8.33</td>
    </tr>
    <th scope="row">9</th>
      <td>Detective Conan</td>
      <td>8.25</td>
    </tr>
    <th scope="row">10</th>
      <td>Mobile Suit Gundam: Iron-Blooded Orphans 2nd Season</td>
      <td>8.21</td>
    </tr>

</table>
</div>