<br>
<h2>Top 50 Anime Series of 2016</h2>
<p>January 2016 - December 2016</p>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Rank</th>
      <th>Title</th>
      <th>Score</th>
    </tr>
  </thead>

    <tr>
      <th scope="row">1</th>
      <td>Mob Psycho 100</td>
      <td>8.56</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Shokugeki no Souma: Ni no Sara</td>
      <td>8.50</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ReLIFE</td>
      <td>8.26</td>
    </tr>
    <th scope="row">4</th>
      <td>Saiki Kusuo no Ψ-nan (TV)</td>
      <td>8.19</td>
    </tr>
    <th scope="row">5</th>
      <td>D.Gray-man Hallow</td>
      <td>8.01</td>
    </tr>
    <th scope="row">6</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Zetsubou-hen</td>
      <td>7.97</td>
    </tr>
    <th scope="row">7</th>
      <td>Nejimaki Seirei Senki: Tenkyou no Alderamin</td>
      <td>7.95</td>
    </tr>
    <th scope="row">8</th>
      <td>91 Days</td>
      <td>7.94</td>
    </tr>
    <th scope="row">9</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Mirai-hen</td>
      <td>7.90</td>
    </tr>
    <th scope="row">10</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Mob Psycho 100</td>
      <td>8.56</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Shokugeki no Souma: Ni no Sara</td>
      <td>8.50</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>ReLIFE</td>
      <td>8.26</td>
    </tr>
    <th scope="row">14</th>
      <td>Saiki Kusuo no Ψ-nan (TV)</td>
      <td>8.19</td>
    </tr>
    <th scope="row">15</th>
      <td>D.Gray-man Hallow</td>
      <td>8.01</td>
    </tr>
    <th scope="row">16</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Zetsubou-hen</td>
      <td>7.97</td>
    </tr>
    <th scope="row">17</th>
      <td>Nejimaki Seirei Senki: Tenkyou no Alderamin</td>
      <td>7.95</td>
    </tr>
    <th scope="row">18</th>
      <td>91 Days</td>
      <td>7.94</td>
    </tr>
    <th scope="row">19</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Mirai-hen</td>
      <td>7.90</td>
    </tr>
    <th scope="row">20</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">21</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">22</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">23</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">24</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">25</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">26</th>
      <td>Mob Psycho 100</td>
      <td>8.56</td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>Shokugeki no Souma: Ni no Sara</td>
      <td>8.50</td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>ReLIFE</td>
      <td>8.26</td>
    </tr>
    <th scope="row">29</th>
      <td>Saiki Kusuo no Ψ-nan (TV)</td>
      <td>8.19</td>
    </tr>
    <th scope="row">30</th>
      <td>D.Gray-man Hallow</td>
      <td>8.01</td>
    </tr>
    <th scope="row">31</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Zetsubou-hen</td>
      <td>7.97</td>
    </tr>
    <th scope="row">32</th>
      <td>Nejimaki Seirei Senki: Tenkyou no Alderamin</td>
      <td>7.95</td>
    </tr>
    <th scope="row">33</th>
      <td>91 Days</td>
      <td>7.94</td>
    </tr>
    <th scope="row">34</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Mirai-hen</td>
      <td>7.90</td>
    </tr>
    <th scope="row">35</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <tr>
      <th scope="row">36</th>
      <td>Mob Psycho 100</td>
      <td>8.56</td>
    </tr>
    <tr>
      <th scope="row">37</th>
      <td>Shokugeki no Souma: Ni no Sara</td>
      <td>8.50</td>
    </tr>
    <tr>
      <th scope="row">38</th>
      <td>ReLIFE</td>
      <td>8.26</td>
    </tr>
    <th scope="row">39</th>
      <td>Saiki Kusuo no Ψ-nan (TV)</td>
      <td>8.19</td>
    </tr>
    <th scope="row">40</th>
      <td>D.Gray-man Hallow</td>
      <td>8.01</td>
    </tr>
    <th scope="row">41</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Zetsubou-hen</td>
      <td>7.97</td>
    </tr>
    <th scope="row">42</th>
      <td>Nejimaki Seirei Senki: Tenkyou no Alderamin</td>
      <td>7.95</td>
    </tr>
    <th scope="row">43</th>
      <td>91 Days</td>
      <td>7.94</td>
    </tr>
    <th scope="row">44</th>
      <td>Danganronpa 3: The End of Kibougamine Gakuen - Mirai-hen</td>
      <td>7.90</td>
    </tr>
    <th scope="row">45</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">46</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">47</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">48</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">49</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>
    <th scope="row">50</th>
      <td>New Game!</td>
      <td>7.82</td>
    </tr>

</table>